@import 'comp/_button';

.title, .subtitle {
    font-family: $secondary-font;
}

body {
    min-height: 100vh;
}
.wrapper {
    margin-top: 4rem;
}
.w-50-lg {
    @media screen and (min-width: 992px) {
        max-width: 700px;
        margin: 0 auto;
    }
}
.is-1 {
    @media screen and (max-width: 991px) {
        font-size: 2rem;
    }
}