@import 'comp/button';
@import 'comp/list-group';
@import 'comp/acc';

.title, .subtitle {
    font-family: $secondary-font;
}

body {
    min-height: 100vh;
}
.wrapper {
    margin-top: 4rem;
}
.w-50-lg {
    @media screen and (min-width: 992px) {
        max-width: 700px;
        margin: 0 auto;
    }
}
.is-1 {
    @media screen and (max-width: 991px) {
        font-size: 2rem;
    }
}
.rad-5 {
    border-radius: 5px;
}
.input, .taginput .taginput-container.is-focusable, .textarea, .select select {
    font-family: $font-family;
    box-shadow: none;
    height: auto;
    padding: .75rem 1rem;
    border-radius: 5px;
    &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 1px $primary;
    }
}
.field {
    .control {
        position: relative;
        .help {
            position: absolute;
            top: calc(50% - 12px);
            right: .75rem;
            background: #fff;
        }
    }
}