.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1024px;
    box-shadow: 60px 40px 60px 0 rgba(19, 23, 32, 0.1);
    padding: .35rem .75rem;
    .button {
        border-radius: 1000px;
        padding: 7px 25px !important;
    }
    &-start, &-end {
        .navbar-item {
            padding: 0.5rem 1rem;
            color: $dark;
            margin: 0 .5rem;
            &.router-link {
                &-exact-active {
                    position: relative;
                    font-weight: bold;
                    color: $black;
                    &::after {
                        content: "";
                        height: 3px;
                        background: $primary;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -.35rem;
                    }
                }
            }
        }
    }
}