.list-group {
    li {
        margin: 15px 0;
        padding-left: 30px;
        position: relative;
        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background: url("/check.svg") no-repeat center;
            background-size: 20px;
            position: absolute;
            left: 0;
            top: calc(50% - 10px);
        }
    }
}